.App {
  text-align: center;
}

.overlap-box {
  display: inline-block;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 500px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding-left: 6px;
  padding-top: 6px;
}

.overlap-box-content {
  overflow-y: scroll;
  height: 100px;
}

.overlap-box-title {
  margin-top: 2px;
}