.App {
  text-align: center;
}

.overlap-box {
  display: inline-block;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 50px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
}

.overlap-box a {
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
}